# suppresses the warning:
# Direct modification of testCompileSourceRoots through add() is deprecated and will not work in Maven 4.0.0. Please use the add/remove methods instead. 
# If you're using a plugin that causes this warning, please upgrade to the latest version and report an issue if the warning persists. 
# To disable these warnings, set -Dmaven.project.sourceRoots.warningsDisabled=true on the command line, in the .mvn/maven.config file, 
# or in project POM properties.
-Dmaven.project.sourceRoots.warningsDisabled=true
