# Eclipse project files 
.classpath
.project
.settings/
.checkstyle

#OSX files
.DS_Store

# Compiler output, class files
bin/

#Test output
test-output/

# Build artifacts
target/
out/
build/
jarsIn/
target/
.jar
build.xml
.idea
*.iml
*.properties

# Jekyll
Gemfile
Gemfile.lock
_site/
_*
_*/