name: DataSketches-Java Auto JDK Matrix Test & Install

on:
  pull_request:
  push:
    branches: [ 7.0.X ]
  workflow_dispatch:

env:
  MAVEN_OPTS: -Xmx4g -Xms1g

jobs:
  build:
    name: Build, Test, Install
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        jdk: [ 17 ]

    env:
      JDK_VERSION: ${{ matrix.jdk }}

    steps:
      - name: "Checkout ${{ github.ref }} ( ${{ github.sha }} )"
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Print Current workflow
        run: >
          cat .github/workflows/auto-jdk-matrix.yml

      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: build-${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: build-${{ runner.os }}-maven-

      - name: Install Matrix JDK
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.jdk }}
          distribution: 'temurin'
          java-package: jdk
          architecture: x64 

      - name: Echo Java Version
        run: >
          java -version

      - name: Test
        run: >
          mvn clean test -B
          -Dmaven.javadoc.skip=true
          -Dgpg.skip=true

      - name: Install
        run: >
          mvn clean install -B
          -DskipTests=true
          -Dgpg.skip=true

# Architecture options: x86, x64, armv7, aarch64, ppc64le
# setup-java@v4 has a "with cache" option
# Lifecycle: validate, compile, test, package, verify, install, deploy
# -B batch mode, never stops for user input
# -V show Version without stopping
# -X debug mode
# -q quiet, only show errors
